<h1>Bet Sets</h1>

<table>
  <thead>
    <tr>
	  <th>Date</th>
	  <th>E-mail</th>
	  <th>Matches</th>
	  <% @players.each do |player| %>
	  <th><%= link_to player.name, edit_player_path(player) %></th>
	  <% end %>
    </tr>
  </thead>

  <tbody>
    <% @bet_sets_by_date.each do |key, set| %>
      <tr>
		<td><%= key %></td>
        <td>
			<%= link_to 'Notify', "/bet_set/email/#{key}/notify", data: { confirm: 'Are you sure?' } %> | 
			<%= link_to 'Result', "/bet_set/email/#{key}/result", data: { confirm: 'Are you sure?' } %>
		</td>
		<td><%= set.values.first.matches %></td>
		<% @players.each do |player| %>
		<td>
			<%= set[player.id.to_s].email_sent ? "E" : "" %>
			<%= set[player.id.to_s].submitted ? "S" : "" %>
		</td>
		<% end %>
      </tr>
    <% end %>
  </tbody>
</table>
