<h1>Final Results</h1>
<h3 class="subheader">Total Characters: <%= @total_characters %></h3>
<table>
	<thead>
		<tr>
			<th>Player</th>
			<th>Matches</th>
			<th>Scores</th>
			<th>Characters</th>
			<th>Penalties</th>
		</tr>
	</thead>
	<tbody>
		<% @players.each do |player| %>
		<tr>
			<td><%= player.name %></td>
			<td><%= player.result[:matches] %></td>
			<td><%= player.result[:scores] %></td>
			<td><%= player.result[:characters] %></td>
			<td><%= player.result[:penalties] %></td>
		</tr>
		<% end %>
	</tbody>
</table>