<% if @player.nil? or @matches.nil? or @matches.empty? %>
<h3 class='alert'>Invalid URL</h3>

<% else %>

<div class="row">
  <div class="large-6 columns">
	<h1><%= @player.name %></h1>
  </div>
  <div class="large-6 columns">
  	<h3 class="subheader"><%= @matches.first.est_time.strftime("%b %-d, %Y") %></h3>
  </div>
</div>

<%= form_tag "/bets/bet" do -%>
	<% @matches.each do |match| %>
	<hr />
	<div class="row">
	  <div class="large-9 columns">
		<div class="row">
		  <div class="large-1 columns">
			<h5><%= match.est_time.to_s(:time) %></h5>
		  </div>
		  <div class="large-5 columns">
			<div class="choice panel clearfix">
			  <input type="radio" name="bet[<%= match.uuid %>]" value="1" class="hide" />
			  <img src="<%= match.team_a.flag %>" class="right" width="32" height="25" />
			  <h5 class="right"><%= match.team_a.name %></h5>
			</div>
		  </div>
		  <div class="large-1 columns">
			<h6 class="subheader">v.s.</h6>
		  </div>
		  <div class="large-5 columns">
			<div class="choice panel clearfix">
			  <input type="radio" name="bet[<%= match.uuid %>]" value="2" class="hide" />
			  <img src="<%= match.team_b.flag %>" class="left" width="32" height="25" />
			  <h5 class="left"><%= match.team_b.name %></h5>
			</div>
		  </div>
		</div>
	  </div>
	  <% if match.allow_tie %>
	  <div class="large-3 columns">
		<div class="row">
		  <div class="large-2 columns">
			<h6 class="subheader">or</h6>
		  </div>
		  <div class="large-10 columns">
			<div class="choice panel clearfix">
			  <input type="radio" name="bet[<%= match.uuid %>]" value="0" class="hide" />
			  <img src="http://cdn.shopify.com/s/files/1/0185/5092/products/persons-0012.png?v=1369543516" class="left" width="25" height="25" />
			  <h5 class="left">It's a Tie!</h5>
			</div>
		  </div>
		</div>
	  </div>
	  <% end %>
	</div>
	
	<% end %>

	<hr />
	<div class="row">
	  <div class="large-2 columns large-centered">
		<%= submit_tag "Submit", data: { confirm: "Are you sure?" }, class: "button radius round" %>
	  </div>
	</div>

<% end # end of form %>

<% end %>