<%= form_for(@player) do |f| %>
  <% if @player.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@player.errors.count, "error") %> prohibited this player from being saved:</h2>

      <ul>
      <% @player.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="row">
	<div class="large-3 columns">
	  <label class="right inline">Name</label>
	</div>
	<div class="large-9 columns">
	  <%= f.text_field :name %>
	</div>
  </div>
  <div class="row">
	<div class="large-3 columns">
	  <label class="right inline">E-mail</label>
	</div>
	<div class="large-9 columns">
	  <%= f.text_field :email %>
	</div>
  </div>
  <div class="row">
	<div class="large-6 large-centered columns">
      <%= f.submit :class => "button radius round" %>
	  <%= link_to 'Cancel', players_path, :class => "button radius round alert right" %>
	</div>
  </div>
  
<% end %>
