<h1>Matches</h1>

<table>
  <thead>
    <tr>
	  <th>Stage</th>
	  <th>Point</th>
	  <th>Location</th>
	  <th>Date Time</th>
	  <th>Team A</th>
	  <th>Team B</th>
	  <th>Winner</th>
	  <th>Total Score</th>
	  <th>Penalty</th>
    </tr>
  </thead>

  <tbody>
    <% @matches.each do |match| %>
      <tr>
		<td><%= match.stage %></td>
		<td><%= match.point %></td>
		<td><%= match.location %></td>
		<td><%= match.est_time.strftime("%b %-d @ %-H:%M") %></td>
		<td><%= match.team_a.name rescue nil %></td>
		<td><%= match.team_b.name rescue nil %></td>
		<td><%= match.winner %></td>
		<td><%= match.total_score %></td>
		<td><%= match.penalty_kicks %></td>
      </tr>
    <% end %>
  </tbody>
</table>
